.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #785600;
    width: 100%;
    padding: 2% 5.8%;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.navbar-links {
    display: flex;
}

.navbar-links a {
    margin-right: 50px;
    text-decoration: none;
    color: #fff;
}

.navbar-links a:hover {
    text-decoration: underline;
}

.home-content {
    color: #fff;
    padding: 10% 5%;
    /* Adjust vertical padding */
}

.home-box {
    border: 2px;
    padding: 50px;
    background-image: url('./img2.jpeg');
    background-size: cover;
    /* Increase gap between home boxes */
    color: #fff;
}


.button1 {
    background-color: #fff;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button1:hover {
    background-color: #fff;
}

.content-wrapper {
    display: flex;
    align-items: center;
}

.text-content {
    flex: 1;
    justify-content: center;
    /* Increase vertical gap */
    padding-right: 55%;
    padding-left: 3%;
}

.text-content p {
    margin-top: 20px;
    margin-bottom: 40px;
    justify-content: center;
    font-size: 20px;
}

.image-content img {
    max-width: 100%;
    /* Ensure image doesn't exceed container width */
    width: 25vw;
    border-radius: 5%;
}

.features {
    padding-top: 5%;
    font-size: 1.5rem;
    font-weight: 400;
    background-image: url('./img3.jpeg');
    background-size: cover;
    color: #fff;
}

.features-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Two columns */
    gap: 2rem;
    /* Adjust as needed */
    justify-content: center;
    align-items: center;
    padding: 2% 15%;
    padding-left: 50%;
    box-sizing: content-box;
}

.features-box {
    width: 100%;
    /* Adjust as needed */
    padding: 2rem;
    background: linear-gradient(to right, #a5711e, #fdc56b);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    font-size: 1 rem;
    border: .2rem #a5711e;
    transition: .5s ease;
    color: #fff;
    text-align: center;
}

.features-container .skills-box:hover {
    border-color: #fff;
    transform: scale(1.05);
}

.features-container h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.features h2 {
    padding-left: 62%;
}

.features-box i {
    font-size: 7rem;
    color: var(--main-color);
    padding-bottom: 2rem;
}

.contact-section {
    background-image: url('./img5.jpeg');
    background-size: cover;
    text-align: center;
}

.contact-content {
    padding-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contact-item {
    width: calc(50% - 20px);
    margin: 10px;
    text-align: center;
    /* Center text */
}

.contact-item img {
    max-width: 100%;
    /* Adjusted max width */
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    display: block;
    /* Ensure images don't have any residual spacing */
    margin: 0 auto;
    /* Center image horizontally */
    margin-bottom: 25px;
}

.contact-item p {
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
    margin-bottom: 15px;
    color: #fff;
}

.contact-section h2 {
    font-size: 2.3rem;
    font-weight: 700;
    color: #fff;
    padding-top: 5%;
}