.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: rgba(169, 121, 108);
    border-radius: 20px;
}

.logo {
    font-size: 2.5rem;
    color: white;
    font-weight: 700;
    cursor: default;
    text-decoration: none;
}

.navbar a {
    font-size: 1.2rem;
    color: white;
    margin-left: 4rem;
    font-weight: 100;
    text-decoration: none;
}

.navbar a:hover,
.navbar a.active {
    color: white;
    text-decoration: underline;
}

.home1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7rem;
    background-color: pink;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

.home-container{
    color: #fff;
}

span {
    color: #fff;
}

.home-content h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.3;
    color: #fff;
}

.home1 p{
    font-size: 1rem;
}
.home-img img {
    width: 25vw;
    animation: floatImage 4s ease-in-out;
    border-radius: 50%;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

.home-content h3 {
    font-size: 1.3rem;
    font-weight: 100;
}

.button1 {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: rgba(169, 121, 108);
    font-size: 1.6rem;
    color: white;
    letter-spacing: .1rem;
    font-weight: 600;
}

/* Adjustments for better CSS application */

.contact-section {
    padding: 50px 0;
    background-color: #f5f5f5;
    text-align: center;
}

.contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contact-item {
    width: calc(50% - 20px);
    margin: 10px;
    text-align: center; /* Center text */
}

.contact-item img {
    max-width: 100%; /* Adjusted max width */
    height: auto;
    border-radius: 50%;
    display: block; /* Ensure images don't have any residual spacing */
    margin: 0 auto; /* Center image horizontally */
}

.contact-item p {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}
