.ColorAnalyzer {
    width: 100vw;
    height: 100vh;
}

.image-color-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.upload {
    flex: 4;
    width: 100px;
    height: 100px;
}

.color-container {
    flex: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.color-box {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}